NOME: Erik Samuel Viana Hsu

TIA: 32265921

NOME: Mateus Kenzo Iochimoto

TIA: 32216289

NOME: Thiago Shihan Cardoso Toma

TIA: 32210744

NOME: Rodrigo Machado de Assis Oliveira de Lima

TIA:32234678

In [14]:
import pandas as pd
import numpy as np


data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data)

1) Display a summary of the basic information about this DataFrame and its data.

In [6]:
display(df)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

O dataframe mostra qual animal é, sua idade, quantas visitas ele teve e seu nível de prioridade. Idades não informadas ou informadas diferemente de um número, são descritas como NaN.

2) Return the first 3 rows of the DataFrame df.

In [ ]:
for i in range(3):
  display(df.iloc[i])
  print('\n')

animal      cat
age         2.5
visits        1
priority    yes
Name: 0, dtype: object

animal      cat
age         3.0
visits        3
priority    yes
Name: 1, dtype: object

animal      snake
age           0.5
visits          2
priority       no
Name: 2, dtype: object

3) Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [ ]:
display(df.iloc[3]['animal'])
display(df.iloc[3]['age'])

'dog'

nan

In [ ]:
display(df.iloc[4]['animal'])
display(df.iloc[4]['age'])

'dog'

5.0

In [ ]:
display(df.iloc[8]['animal'])
display(df.iloc[8]['age'])

'dog'

7.0

4) Select the rows where the age is missing.

In [ ]:
df[df['age'].isnull()]

  animal  age  visits priority
3    dog  NaN       3      yes
7    cat  NaN       1      yes

5) Select the rows where the animal is a cat and the age is less than 3.

In [ ]:
df.loc[(df['animal'] == 'cat') & (df['age'] < 3)] 
#para juntar essas 2 características é necessário usar o &, ele é o equivalente a um AND, mas para essa situação faz mais sentido, o | é o equivalente a OR

  animal  age  visits priority
0    cat  2.5       1      yes
5    cat  2.0       3       no

6) Change the age in row 'f' to 1.5.

In [ ]:
print(df.loc[5, ['age']])
print('\n')
df.loc[5, ['age']] = 1.5
df.loc[5, ['age']]

age    2.0
Name: 5, dtype: object

age    1.5
Name: 5, dtype: object

7) Calculate the mean age for each different animal in df.

In [21]:
def calculaMIDADE(animal):
  idade = df.loc[(df['animal'] == animal)] #isso funciona
  tam = len(idade) #isso funciona
  soma = 0 

  for i in range(tam):
    sim = pd.isna(idade.iloc[i]['age'])
    if sim == True:
      k = 0
    else:
      soma += idade.iloc[i]['age'] #isso funciona

  media = soma/tam
  print('The mean age for ', animal, ' is ', media) #isso funciona

calculaMIDADE('dog')
calculaMIDADE('cat')
calculaMIDADE('snake')

The mean age for  dog  is  3.75
The mean age for  cat  is  1.875
The mean age for  snake  is  2.5